html,body {
    margin: 0;
    background: rgb(233, 235, 238);
}

#Header {
    width: 100%;
    height: 7%;
    background: rgb(66, 103, 178);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#Header .header_logo {
    margin-left: 5%;
}

#Header .header_search, #Header .header_logo {
    height: 60%;
    margin-bottom: 0.1%;
}

#Header .header_bar {
    margin-left: 15%;
}

#Header img {
    width: auto;
}

#Left {
    width: 16%;
    position: fixed;
    left: 4%;
    top: 9%;
}

#Left img {
    width: 100%;
    height: auto;
    margin-right: 0;
}

#ItemBlock {
    width: 36%;
    position: relative;
    left: 20%;
    top: 9%;
}

#ItemBlock img {
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #CCCCCC;
}

#ItemBlock .itemblock_1 {
    margin-top: 12%;
}

#Message {
    width: 22%;
    position: fixed;
    left: 57%;
    top: 9%;
}

#Message img {
    width: 100%;
    border: 1px solid #CCCCCC;
}

#Message .meg-bottom {
    border: none;
}

#ChatBox {
    position: fixed;
    right: 18%;
    bottom: 0;
}

#Chat {
    width: 16.5%;
    height: 88%;
    position: fixed;
    top: 7%;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#Chat-search {
    width: 16.5%;
    position: fixed;
    bottom: 0;
    right: 0;
}

#Chat img, #Chat-search img {
    width: 100%;
    border-left: 1px solid #CCCCCC;
}

@media screen and (max-width:720px) {

}

@media screen and (min-width:1400px) {
    #Header {
        height: 5%;
    }

    #Header .header_logo {
        margin-left: 18%;
    }
    
    #Header .header_bar {
        margin-left: 13%;
    }
    
    #Left {
        width: 11%;
        left: 17%;
        top: 7%;
    }
    
    #ItemBlock {
        width: 28%;
        left: 28%;
        top: 7%;
    }
    
    #Message {
        width: 18%;
        left: 57%;
        top: 7%;
    }
    
    #ChatBox {
        right: 14%;
        bottom: 0;
    }
    
    #Chat {
        width: 13%;
        height: 91%;
        top: 5%;
    }

    #Chat-search {
        width: 13%;
    }
}