body {
    background-color: #E9EBEE;
}

.container .nav {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    height: 36px;
}

.container .nav .home-pic {
    position: relative;
    top: -43px;
    left: 155px;
}

.container .content {
    position: relative;
    top: 36px;
    margin-left: 140px;
}

.container .content-left {
    position: fixed;
    width: 195px;
}

.container .content-middle {
    position: absolute;
    left: 200px;
    width: 500px;
}

.container .content-middle .pic {
    width: 500px;
}

.container .content-right {
    position: absolute;
    left: 710px;
    width: 300px;
}

.container .pic {
    margin-top: 15px;
}

.container .friend {
    position: fixed;
    top: 45px;
    right: -15px;
    width: 230px;
    height: 70%;
}

.container .friend .main {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.container .friend .bottom-pic {
    bottom: 0;
    position: fixed;
}